body {
    display: flex;
    flex-direction: row;
    padding: 0px;
    border: 0px;
    margin: 0px;
}

@font-face {
    font-family: Norse-Bold;
    src: url(fonts/Norse-Bold.otf);
}

.side-panel {
    background: url(images/leaves.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.logo-card {
    width: 100%;
    gap: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(0 0 0 / 0.5);
    padding: 1rem 0 1rem 0;
}

.tod {
    color: white;
    font-size: 5em;
    font-family: Norse-Bold;
}

.logo {
    max-width: 100%;
    height: auto;
}

.main-body {
    flex: 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0;
}

.main-body h1 {
    font-size: 1.8em;
}

.intro {
    padding: 2rem;
    width: 100ch;

}

.form {
    width: 100%;
    max-width: 100%;
    padding: 0 2rem 2rem 2rem;
    box-sizing: border-box;
    box-shadow: 1px 1px 5px 5px rgb(0 0 0 / 0.1);
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.form-row {
    display: flex;
    gap: 10rem;
}

.form-group {
    display: flex;
    flex-direction: column;
    padding: 0.5rem 0;
}

.form-group label {
    font-size: 1.3rem;
}

.form-group input {
    border-color: #E5E7EB;
    width: 15rem;
    padding: 5px;
}

.form-group input:focus {
    border-color: blue;
    box-shadow: 1px 5px 5px rgb(0 0 0 / 0.1);
    width: 15rem;
    padding: 5px;
}

.form-group .password:invalid {
    /* border-color: red; */
}

button {
    width: 13rem;
    padding: 10px;
    border-radius: 10px;
    border: 0;
    color: white;
    background-color: #596D48;
    font-size: 1.2rem;
    margin: 1rem 0;
}

button:hover {
    box-shadow: 1px 5px 5px rgb(0 0 0 / 0.1);
}

.actions {
    display: flex;
    flex-direction: column;
    margin-left: 2rem;
}

.log-ing {
    margin: 0;
    font-size: 1.3rem;
}
.log-ing a {
    color: #596D48;
}